<ion-content>
  <ion-slides pager="" true>
    <ion-slide>
      <img src="assets/slide1.png" alt="" /> 
      </ion-slide>
    <ion-slide>
      <img src="assets/slide2.png" alt="" /> 
      </ion-slide>
    <ion-slide>
      <img src="assets/slide3.png" alt="" /> 
      </ion-slide>
    <ion-slide>
      <img src="assets/slide4.png" alt="" />
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-button
    expand="full"
    color="success"
    routerLink="/"
    routerDirection="forward"
  >
    Start using Remind list <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-footer>
